<!--
  __author__ = "Alberto Petrucci"
  __copyright__ = "Copyright 2017, Alberto Petrucci"
  __credits__ = ["Alberto Petrucci"]
  __license__ = "Apache"
  __version__ = "1.0.0"
  __maintainer__ = "Alberto Petrucci"
  __email__ = "petrucci.alberto@gmail.com"
  __status__ = "Production"
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Dashboard Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ 'css/bootstrap.min.css'| staticfile }}">
    <link rel="stylesheet" href="{{ 'css/jquery-ui.min.css'| staticfile }}">
    <link rel="stylesheet" href="{{ 'css/flat-ui.min.css'| staticfile }}">
    <link rel="stylesheet" href="{{ 'css/jsoneditor.css'| staticfile }}">
    <link rel="stylesheet" href="{{ 'dashboard.css'| staticfile }}">

    <!-- Custom styles for this template -->
    <script src="{{ 'js/jquery.min.js'| staticfile }}"></script>
    <script src="{{ 'js/jquery-ui.min.js'| staticfile }}"></script>
    <script src="{{ 'js/tether.min.js'| staticfile }}"></script>
    <script src="{{ 'js/bootstrap.min.js'| staticfile }}"></script>
    <script src="{{ 'js/flat-ui.min.js'| staticfile }}"></script>
    <script src="{{ 'js/highcharts.js'| staticfile }}"></script>
    <script src="{{ 'js/highcharts-3d.js'| staticfile }}"></script>
    <script src="{{ 'js/jquery.jsoneditor.min.js'| staticfile }}"></script>
  </head>
  <body>
    {% include 'navbar.html' %}